@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Random Music Share</h1>
    <p class="lead">RMS is a free social network for building connections with fellow music lovers.</p>
    <a class="btn btn-primary btn-lg" @Html.ActionLink("View Songs", "", "Song")</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register because you're awesome</h2>
        <a class="btn btn-success btn-lg" @Html.ActionLink("Get your free account", "Register", "Account")</a>
    </div>
</div>